[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/mod-PaperMod"]
	path = themes/mod-PaperMod
	url = https://github.com/Jacob29/hugo-PaperMod.git
